#DirectoryIndex users.php

RewriteEngine on
RewriteRule users users.php
RewriteRule requests requestAPI.php
RewriteRule messages messagesAPI.php
RewriteRule uploadImg uploadImg.php
RewriteRule login login.php
